.mastheadheading,
.mastheadintro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  /* background-image: url('https://i.imgur.com/yGmrlyg.jpg'); */
  /* background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/5438.jpg'); */
  background-image: url('https://img.myloview.com/posters/luxury-gold-abstr…kaging-web-banner-app-wallpaper-700-260063546.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.mastheadintro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-size: 2em;
}

.mastheadheading {
    /* Layout Declarations */
    color: var(--accent-color);
    margin-top: -0.2em;
    /* Typography Declarations */
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.introductionsection,
.questionssection {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.introductionsection > h1,
.questionssection > h1 {
  color: var(--accent-color);
}

.introductionsection > p,
.questionssection{
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questionssection > h2 {
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
    color: var(--accent-color);
}

.questionssection > h7 {
  font-size: 0.7em;
  font-weight: lighter;
  /* Layout */
  margin: 2em 0 1em 0;
  color: var(--accent-color);
}

.mastheadheading,
.mastheadintro {
  text-align: center;
}



.mastheadintro {
  margin-bottom: 0.1em;
    font-size: 2em;
}

.mastheadheading {
  margin-top: -0.2em;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.introduction > p,
.contentfooter > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}


.introductionsection,
.questionssection {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}