.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--article-bg);
  border-radius: 5px;
  padding: 1rem;
}

.card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card p {
  margin-bottom: 1.25rem;
}

.title {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.imageCover{
  display: flex;
  justify-content: center;
}

.image{
  height: auto;
  width: 50%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}